


.icon-container svg {
   width: 24px;
   height: 24px;
   color: red;
   fill: #007bff !important; /* Change the fill color as desired */
}

.icon{
   // filter: invert(48%) sepia(79%) saturate(2476%);
   background-color:red;
 }