
<!-- BODY -->
<div class="d-flex flex-column justify-content-between " style="width: 100%; height: 100%;  ">



    <div *ngIf="isDone" class=" d-flex flex-column justify-content-between " style="height: 100%; width: 100%; padding: 0.5%; " >
       
      <div  class=" d-flex flex-row justify-content-between " style="height: 24.5%;  width: 100%;"  >

         <div class=" d-flex justify-content-between " style="height: 99% ; width: 49.8%;  border-radius: 5px;
                    background-color: white;">
            
            <app-bar [json]="getDataBar( data_name1 )" style="width: 100%; height: 100%;"></app-bar>

        </div>
    
        <div class=" d-flex justify-content-between " style="height: 99% ; width: 49.8%;  border-radius: 5px;
                    background-color: white;">

            <app-bar [json]="getDataBar( data_name2 )" style="width: 100%; height: 100%;"></app-bar>

        </div>

      </div>

       
      <div  class=" d-flex flex-row justify-content-between " style="height: 24.5%;  width: 100%; ">

         <div class=" d-flex justify-content-between " style="height: 99% ; width: 49.8%;  border-radius: 5px;
                    background-color: white;">
            
            <app-bar [json]="getDataBar( data_name3 )" style="width: 100%; height: 100%;"></app-bar>

        </div>
    
        <div class=" d-flex justify-content-between " style="height: 99% ; width: 49.8%;  border-radius: 5px;
                    background-color: white;">

            <app-bar [json]="getDataBar( data_name4 )" style="width: 100%; height: 100%;"></app-bar>

        </div>

      </div>


       
      <div  class=" d-flex flex-row justify-content-between " style="height: 24.5%;  width: 100%;">

         <div class=" d-flex justify-content-between " style="height: 99% ; width: 49.8%;  border-radius: 5px;
                    background-color: white;">
            
            <app-bar [json]="getDataBar( data_name5 )" style="width: 100%; height: 100%;"></app-bar>

        </div>
    
        <div class=" d-flex justify-content-between " style="height: 99% ; width: 49.8%;  border-radius: 5px;
                    background-color: white;">

            <app-bar [json]="getDataBar( data_name6 )" style="width: 100%; height: 100%;"></app-bar>

        </div>

      </div>

       
      <div  class=" d-flex flex-row justify-content-between " style="height: 24.5%;  width: 100%; "  >

         <div class=" d-flex justify-content-between " style="height: 99% ; width: 49.8%;  border-radius: 5px;
                    background-color: white;">
            
            <app-bar [json]="getDataBar( data_name7 )" style="width: 100%; height: 100%;"></app-bar>

        </div>
    
        <div class=" d-flex justify-content-between " style="height: 99% ; width: 49.8%;  border-radius: 5px;
                    background-color: white;">

            <app-bar [json]="getDataBar( data_name8 )" style="width: 100%; height: 100%;"></app-bar>

        </div>

      </div>

        
    
    </div>
 
 </div>
 
 <!-- footer -->
 <div style="height: 3vh; width: 100%; " > 
 
 
 </div>