// @font-face {
//     font-family: txt;
//     src: url(../../../assets/fonts/good-times.regular.ttf);
//     }
@font-face
{
    font-family: Revamped;
    src: url(../../../assets/fonts/Revamped-X3q1a.ttf);
}
#cont_erreur
{
      width:30vw;
      height:35vh;
      color:white;
      text-align: center;
      display:flex; 
      margin-left: auto;margin-right: auto;
      background: url("../../../assets/images/erreur-dialogue.png");
      background-repeat: no-repeat !important;
      background-size: 100% 100% !important;
      font-size:1.5vh !important;
      background-color: transparent!important;
}
.boutonok
{
    background:linear-gradient(to bottom right,#4c397c, #06e3f2);
    color:white;
    border: none;
    height: 100%;width: 15%;
    border-radius: 3px;
    font-family: txt;
}

::ng-deep .mat-dialog-container
{
   // background: rgba(173, 89, 89, 0) !important;
   background-color: transparent !important;
   box-shadow: none !important;
   font-family: Revamped !important;
}
.btn_ok_err
{
    background-color: transparent;
    border-radius: 3px;
    width:70%;height:100%;  color:white;
    box-shadow:inset 0  0 30px #cc0000, 0 0 8px #fff, 0 0 40px #07488d;outline:none;
    font-weight: bold; letter-spacing: 2px;
    font-family: txt;
    font-size:1.5vh;
    //width:100%;height:100%;padding: 5px 5px;  color:white;border:solid 1px #cc0000; border-radius:3px;background-color:transparent;
}
.tx_err
{
    font-family: txt;
    letter-spacing: 2px;
}
.boutonok:hover
{
    background: 
    linear-gradient(to right,#386a9e,rgba($color: #00f6ff, $alpha: 1), rgba($color: #d341be, $alpha: 1),#386a9e);
}
@media only screen and (orientation : portrait) {
    #cont_erreur{
      width:65vw !important;
    }
}
