.div_logo
{
  width: 10%;
  height: 100%;
}
.div_gauge
{

   height: 100%;
   width: 24.6%;
   border-radius: 5px;
   background-color: white;
  // padding: 0.5%;
   
}

.select_btn
{
  //width: 49%;
  height: 100%;
}
